html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: purple;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background: aqua;
}

a {
    text-decoration: none;
}

div.acknowledgment {
    color: #999;
    font-size: x-small;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

/* Responsive layout bằng flexbox */

/* Khung nhìn lớn trước  */
section,
div {
    display: flex;
}

/* có flex lồng nhau, div trong section */
div,
article {
    flex: 1
}

article:nth-of-type(2) {
    flex: 2;
}